<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        body > .container {
            padding: 60px 15px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        /* Hacky - LMK if you're reading this and manage to find a better way :) */
        .text-only-ul-block {
            margin-top: 6px;
        }
    </style>

    <script>
        var app = angular.module('markCalculator', []);
        app.controller('calcCtrl', function ($scope) {
            $scope.courses = {MEng: 1, BEng: 2};
            $scope.unsetOptions = {DefaultAvg: 1, DefaultZero: 2, DefaultFixed: 3};

            $scope.profileSet = true;

            $scope.course = null;
            $scope.name = null;
            $scope.year = 1;
            $scope.colouring = true;
            $scope.unsetOption = $scope.unsetOptions.DefaultAvg;
            $scope.defaultFixed = 0;

            console.log($scope.unsetOptions);
            $scope.courseString = function (course) {
                if (course == $scope.courses.MEng) return "MEng";
                if (course == $scope.courses.BEng) return "BEng";
            };

            $scope.getYears = function() {
                if ($scope.course === $scope.courses.MEng) return [1,2,3,4];
                if ($scope.course === $scope.courses.BEng) return [1,2,3];
                return [1];
            };

            $scope.getOverallGrade = function() {
                return $scope.convertMarkToGrade($scope.getOverallMark());
            };

            $scope.getOverallMark = function() {
                return 100 * $scope.getOverallCredits() / $scope.getOverallTotalCredits() || 0;
            };

            $scope.getOverallCredits = function() {
                return $scope.getYears().map(function(y) {
                    return $scope.getCreditsForYear(y);
                }).reduce(function(a, v) { return a + v; });
            };

            $scope.getOverallTotalCredits = function() {
                return $scope.getYears().map(function(y) {
                    return $scope.getTotalCreditsForYear(y);
                }).reduce(function(a, v) { return a + v; });
            };

            $scope.getMarkForModule = function (year, module) {
                var number = Math.max(Math.min($scope.scores[year][module], 100), 0);

                if (isNaN(number)) {
                    switch ($scope.unsetOption) {
                        case $scope.unsetOptions.DefaultAvg:
                            return 0;
                        case $scope.unsetOptions.DefaultFixed:
                            return parseInt($scope.defaultFixed);
                        case $scope.unsetOptions.DefaultZero:
                            return 0;
                    }
                    $scope.unsetOptions = {DefaultAvg: 1, DefaultZero: 2, DefaultFixed: 3};
                }
                return number || 0;
            };

            $scope.getGradeForModule = function (year, module) {
                console.log($scope.getMarkForModule(year, module));
                return $scope.convertMarkToGrade($scope.getMarkForModule(year, module));
            };

            $scope.convertGradeToMark = function (grade) {
                return 90 - ($scope.grades.indexOf(grade) * 10);
            };

            $scope.convertMarkToGrade = function (mark) {
                var grades = $scope.grades.slice();
                while (mark < 90 && grades.length > 1) {
                    grades.shift();
                    mark += 10;
                }
                var grade = grades.shift();
                console.log("converted " + mark + " to " + grade);
                return grade;
            };

            $scope.getCreditsForModule = function (year, component) {
                return $scope.getMarkForModule(year, component.title) / 100 * component.credits;
            };

            $scope.getCreditsForYear = function (year) {
                var sum = 0;
                for (var componentKey in $scope.courseWeightings[year]) {
                    sum += $scope.getCreditsForModule(year, $scope.courseWeightings[year][componentKey]);
                }
                return sum;
            };

            $scope.getTotalCreditsForYear = function (year) {
                return $scope.courseWeightings[year]
                        .filter(function (m) {
                            return !m.excludeTotal;
                        }).map(function (m) {
                            return m.credits;
                        }).reduce(function (a, v) {
                            return a + v
                        }, 0);
            };

            $scope.getMarkForYear = function (year) {
                return 100 * $scope.getCreditsForYear(year) / $scope.getTotalCreditsForYear(year) || 0;
            };

            $scope.getGradeForYear = function (year) {
                return $scope.convertMarkToGrade($scope.getMarkForYear(year));
            };

            $scope.getListClass = function(grade) {
                if ($scope.colouring) return $scope.gradeListClasses[grade];
                return 'list-group-item-default';
            };

            $scope.getTagClass = function(grade) {
                if ($scope.colouring) return $scope.gradeTagClasses[grade];
                return 'tag-default';
            };

            $scope.scores = {1: {}, 2: {}, 3: {}, 4: {}};
            $scope.gradeFunctions = {};
            $scope.grades = ['A*', 'A+', 'A', 'B', 'C', 'D', 'F'];
            $scope.gradeListClasses = {
                'A*': 'list-group-item-success', 'A+': 'list-group-item-success',
                A: 'list-group-item-success', B: 'list-group-item-warning', C: 'list-group-item-warning',
                D: 'list-group-item-info', F: 'list-group-item-danger'
            };
            $scope.gradeTagClasses = {
                'A*': 'list-group-item-success', 'A+': 'list-group-item-success',
                A: 'list-group-item-success', B: 'list-group-item-warning', C: 'list-group-item-warning',
                D: 'list-group-item-info', F: 'tag-danger'
            };
            $scope.courseWeightings = {
                1: [
                    {title: 'Hardware Exam', credits: 65},
                    {title: 'Architecture Exam', credits: 65},
                    {title: 'Logic Exam', credits: 65},
                    {title: 'Reasoning about Programs Exam', credits: 65},
                    {title: 'Maths Methods Exam', credits: 65},
                    {title: 'Discrete Maths Exam', credits: 65},
                    {title: 'Databases Exam', credits: 65},
                    {title: 'Haskell Driving Test', credits: 16.8},
                    {title: 'Haskell Final Test', credits: 67.2},
                    {title: 'Java Practice Test', credits: 5.4},
                    {title: 'Java Driving Test', credits: 16.2},
                    {title: 'Java Final Test', credits: 86.4},
                    {title: 'ARM Project', credits: 19.2},
                    {title: 'C Exam', credits: 28.8},
                    {title: 'Databases Coursework', credits: 15},
                    {title: 'Hardware Coursework', credits: 15},
                    {title: 'Logic Coursework', credits: 15},
                    {title: 'Discrete Maths Coursework', credits: 15},
                    {title: 'Maths Methods Coursework', credits: 15},
                    {title: 'Architecture Coursework', credits: 15},
                    {title: 'Ethics', credits: 5},
                    {title: 'Presention Skills', credits: 5},
                    {title: 'Topics', credits: 55}
                ],
                2: [
                    {title: 'Software Design Exam', credits: 130},
                    {title: 'Statistics Exam', credits: 130},
                    {title: 'Compilers Exam', credits: 130},
                    {title: 'Models of Computation Exam', credits: 130},
                    {title: 'Concurrency Exam', credits: 130},
                    {title: 'Software Algorithms Exam', credits: 130},
                    {title: 'Operating Systems Exam', credits: 130},
                    {title: 'Networks Exam', credits: 130},
                    {title: 'Choice (AI/Arch/CompTechniques) Exam', credits: 130},
                    {title: 'Choice (AI/Arch/CompTechniques) Exam', credits: 130},

                    {title: 'Linkload', credits: 11.3},
                    {title: 'Enigma', credits: 33.7},
                    {title: 'WACC Frontend', credits: 36},
                    {title: 'WACC Backend', credits: 36},
                    {title: 'WACC Extension', credits: 18},

                    {title: 'Team Skills Attendance', credits: 0.6},
                    {title: 'Team Skills Video', credits: 1.9},

                    {title: 'Pintos', credits: 90},

                    {title: 'Prolog Coursework', credits: 22.5},

                    {title: 'Webapps', credits: 150}
                ],
                3: [],
                4: []
            };

            $scope.createGradeFunction = function (year, module) {
                return function (grade) {
                    console.log(grade);
                    console.log($scope.getGradeForModule(year, module.title));
                    if (grade === undefined) return $scope.getGradeForModule(year, module.title);
                    $scope.scores[year][module.title] = $scope.convertGradeToMark(grade);
                    return grade;
                };
            };

            for (var year in $scope.courseWeightings) {
                $scope.gradeFunctions[year] = {};
                $scope.courseWeightings[year].forEach(function (module) {
                    $scope.gradeFunctions[year][module.title] = $scope.createGradeFunction(year, module)
                });
            }
        });
    </script>
</head>
<body ng-app="markCalculator" ng-controller="calcCtrl">
<div class="pos-f-t">
    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                    data-target="#exCollapsingNavbar2" aria-expanded="false" aria-controls="exCollapsingNavbar2"
                    aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">IC DoC Mark Calculator</a>
                <ul class="nav navbar-nav" ng-show="profileSet">
                    <li class="nav-item" ng-class="{active: year === 1}">
                        <a class="nav-link" href="#" ng-click="year = 1">1st Year</a>
                    </li>
                    <li class="nav-item" ng-class="{active: year === 2}">
                        <a class="nav-link" href="#" ng-click="year = 2">2nd Year</a>
                    </li>
                    <li class="nav-item" ng-class="{active: year === 3}">
                        <a class="nav-link" href="#" ng-click="year = 3">3rd Year</a>
                    </li>
                    <li class="nav-item" ng-show="course == courses.MEng" ng-class="{active: year === 4}">
                        <a class="nav-link" href="#" ng-click="year = 4">4th Year</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-xs-right" ng-show="profileSet">
                    <li class="nav-item">
                        <a class="nav-link">{{name}}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">{{courseString(course)}}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" ng-click="course = courses.BEng; year = 1">BEng</a>
                            <a class="dropdown-item" href="#" ng-click="course = courses.MEng; year = 1">MEng</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Begin page content -->
<div class="container">
    <br/>
    <br/>
    <div ng-show="profileSet">
        <div class="row">
            <div class="col-sm-5">
                <div class="card" style="height: 350px">
                    <div class="card-block">
                        <h4 class="card-title">Degree Summary</h4>
                        <p class="lead">
                            Overall Grade: {{ getOverallCredits() | number:0 }} / {{ getOverallTotalCredits() }}
                            <span class="tag" ng-class="getTagClass(getOverallGrade())">
                                {{ getOverallGrade() }}&nbsp;&nbsp;&nbsp;{{ getOverallMark() | number:1 }}%
                            </span>
                        </p>
                    </div>
                    <div class="list-group-flush">
                        <li class="list-group-item" ng-class="getListClass(getGradeForYear(year))"
                            ng-repeat="year in getYears()">
                            Year {{year}} -  {{ getCreditsForYear(year) | number:0 }} / {{ getTotalCreditsForYear(year) }}
                            <span class="tag" ng-class="getTagClass(getGradeForYear(year))">
                            {{ getGradeForYear(year) }}&nbsp;&nbsp;&nbsp;{{ getMarkForYear(year) | number:1 }}%
                            </span>
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card card-block" style="height: 350px">
                    <h4 class="card-title">Settings</h4>
                    <fieldset class="form-group row">
                        <legend class="col-form-legend col-sm-4">For unset marks:</legend>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" ng-model="unsetOption" ng-value="unsetOptions.DefaultAvg">
                                    Default to your current average (extrapolating)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" ng-model="unsetOption" ng-value="unsetOptions.DefaultZero">
                                    Default to zero
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" ng-model="unsetOption" ng-value="unsetOptions.DefaultFixed">
                                    Default to a fixed value: <input class="form-control form-control-sm" ng-model="defaultFixed" min="0" max="100" type="number"/>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-sm-4">Show colours:</label>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" ng-model="colouring" type="checkbox">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Year {{year}} Summary</h4>
                Credits: {{ getCreditsForYear(year) | number:0 }} / {{ getTotalCreditsForYear(year) }}
                <span class="tag" ng-class="getTagClass(getOverallGrade())">
                    {{ getGradeForYear(year) }}&nbsp;&nbsp;&nbsp;{{ getMarkForYear(year) | number:1 }}%
                </span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-class="getListClass(gradeFunctions[year][component.title]())"
                    ng-repeat="component in courseWeightings[year]">
                    <div class="row">
                        <div class="col-xs-4 text-only-ul-block">
                            {{ component.title }}
                        </div>
                        <div class="col-xs-2 text-only-ul-block" style="text-align: center">
                            {{ component.credits }}
                        </div>
                        <div class="col-xs-2 text-only-ul-block" style="text-align: center">
                            {{ getCreditsForModule(year, component) | number:1 }}
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" ng-model="scores[year][component.title]" min="0" max="100" type="number"/>
                        </div>
                        <div class="col-xs-2">
                            <select class="custom-select form-control"
                                    ng-model="gradeFunctions[year][component.title]"
                                    ng-model-options="{ getterSetter: true }"
                                    ng-options="grade for grade in grades">
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="!profileSet">
        <h1>Welcome!</h1>
        <p class="lead">
            Get started below! Your data is stored locally, and not uploaded to, or processed by, any server.
        </p>
        <div class="form-group row">
            <label for="name-input" class="col-xs-2 col-form-label">Your Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="Name" ng-model="name" id="name-input">
            </div>
        </div>
        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">Degree Program</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" ng-model="course" ng-value="courses.BEng">
                        BEng
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" ng-model="course" ng-value="courses.MEng">
                        MEng
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="profileSet = true"
                        ng-disabled="course == null || name == null || name == ''">
                    Begin
                </button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Ashley Davies 2016 | This page uses the "Sticky Footer" bootstrap template | I will never upload or save your data without explicitly informing you</span>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
</body>
</html>